.footer {
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid #ddd;
  }
  
  .footer h5 {
    font-size: 1rem; /* Smaller font size */
    margin-bottom: 1rem;
    color: #333;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 0.5rem;
    color: #555;
    font-size: 0.9rem; /* Smaller font size */
  }
  
  .footer ul li i {
    margin-right: 8px;
  }
  
  .footer .form-group {
    margin-bottom: 1rem;
  }
  
  .footer .btn {
    background-color: #007bff;
    color: #fff;
    font-size: 0.9rem; /* Smaller font size */
  }
  
  .footer-social a {
    display: inline-block;
    margin-right: 10px;
    color: #555;
    font-size: 0.9rem; /* Smaller font size */
  }
  
  .footer-social a i {
    margin-right: 5px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .footer-links a {
    color: #555;
    font-size: 0.9rem; /* Smaller font size */
  }
  
  .footer .container {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .footer .row > div {
    margin-bottom: 1rem;
  }
  
  .footer .col-md-2 {
    margin-bottom: 20px; /* Added space between columns */
  }
  
  .footer .col-md-3 {
    margin-top: 20px; /* Added space above Join the MatchaLatte - List section */
  }
  
  .footer .footer-social {
    margin-top: 9rem; /* Added space above social icons */
  }
  
  .join{
    margin-left: 6.2rem;
  }