/* .scroll-bar {
    border: 3px solid #00ff00;
    width: 100%;
    height: 280px;
    padding: 20px;
    overflow: visible;
}

.list-ER{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ER-items img{
    width: 180px;
    height: 180px;
}

.ER-items p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
} */


/* engagementRings.css */

.custom-container {
    max-width: 1800px;
    margin: 0 auto;
}

/* .banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 70vh;
    background: url('../assets/images/engagement-ring-banner.png') center/cover no-repeat;
} */

.explore-diamond-banner {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.scroll-bar {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
}

.list-ER {
    display: flex;
    flex-wrap: nowrap;
}

.ER-items {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    gap: 10rem;
}

.ER-items img {
    width: 180px;
    height: 180px;
}

.ER-items p {
    font-size: 1rem;
    margin-top: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .ER-items img {
        width: 80px;
        height: 80px;
    }

    .ER-items p {
        font-size: 0.8rem;
    }

    .banner-content p {
        padding-left: 0;
    }
}