/* navbar.css */
.container-nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-bar-header,
.nav-bar-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.nav-bar-header-left,
.nav-bar-header-right {
    display: flex;
    align-items: center;
}

.icon-nav-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icon-nav-bar p {
    margin-left: 5px;
}

.nav-bar-body {
    align-items: center;
    flex-wrap: wrap;
}

.nav-bar-item {
    position: relative;
    margin-left: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .icon-nav-bar p,
    .nav-bar-body h3,
    .nav-bar-item p {
        font-size: 0.8rem;
    }

    .nav-bar-header,
    .nav-bar-body {
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar-header-left,
    .nav-bar-header-right {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .nav-bar-item {
        margin-left: 10px;
    }
}
